body {
    text-align: center;
    background-color: #023754;
    color: #B8ADA9;
}

.App {
    min-width: 700px;
}


svg {
    display: block;
    width: 100%;
    min-height: 500px;
}

svg .borough:hover {
    fill-opacity: 0.95;
    cursor: pointer;
}

.legend {
    display: inline-block;
    left: 70%;
    margin-left: 400px;
    color: #B8ADA9;
    font-size:12pt;
}

.legend-title {
    font-weight: bold;
}

.date-slider {
    padding:10px 100px;
}
.side-matter {
    width: 300px;
    position: absolute;
    top:15%;
    background-color: rgba(2, 55, 84, 0.7);
    padding: 0px 20px 0px 20px;
}

button {
    text-align: center;
    border: none;
    padding: 8px;
    font-size: 12pt;
    background-color: #77CFFF;
    position: relative;
    margin-bottom: 10px;
}
button:hover{
    opacity: 0.8;
}

.results, button, ul, ol {
    display: block;
    float: left;

}

p {
    text-align: left;
}

ul,ol {
    margin: -10px 0px 10px -20px;
    text-align: left;
    /* padding: 10px 10px 10px 12px; */
    /* margin-bottom: 0px; */
}

.results {
    text-align: left;
    font-size: 14pt;
    position: absolute;
    padding: 0px 20px 0px 20px;
    top:50%;
    left:75%;
    background-color: rgba(2, 55, 84, 0.7);
}

.results-borough {
    text-align: left;
    font-size: 14pt;
    position: absolute;
    padding: 0px 20px 0px 20px;
    top: -10%;
    bottom: 0;
    left: 40%;
    right: 0;
    width: 200px;
    height: 180px;
    margin: auto;
    background-color: rgba(2, 55, 84, 0.7);
}

.labels {
    margin-top:10px;
}

.data-type {
    margin-top: 40px;
}

.data-type-title {
    font-weight: bold;
}
