body {
    text-align: center;
    background-color: #023754;
    color: #B8ADA9;
}

.App {
    min-width: 700px;
}

.bold {
    font-weight: bold;
}

svg {
    display: block;
    width: 100%;
    min-height: 300px;
    height: 500px;
}

svg .borough:hover {
    fill-opacity: 0.95;
    cursor: pointer;
}

.legend {
    display: block;
    position: relative;
    left: 70%;
    margin-left: 400px;
    color: #B8ADA9;
    font-size: 12pt;
}

.legend-title {
    font-weight: bold;
}

.date-slider {
    padding:10px 100px;
    position: absolute;
    top:80%;
    width:80%;
}
.side-matter {
    width:120px;
    position: absolute;
    display: block;
    top:15%;
    background-color: rgba(2, 55, 84, 0.7);
    padding: 0px 20px 0px 20px;
}

button {
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 8px;
    font-size: 12pt;
    background-color: #77CFFF;
    position: relative;
    margin-bottom: 10px;
    width: 130px;
    display: block;
}
button:hover,active{
    opacity: 0.8;
}

.results, button, ul, ol {
    display: block;
    float: left;

}

p {
    text-align: left;
}

ul,ol {
    margin: -10px 0px 10px -20px;
    text-align: left;
}

.results {
    text-align: left;
    font-size: 12pt;
    position: absolute;
    padding: 0px 20px 0px 20px;
    top:55%;
    left:65%;
    background-color: rgba(2, 55, 84, 0.7);
    border-radius: 12px;
}

.results-borough {
    font-size: 14pt;
    position: absolute;
    padding: 0px 20px 0px 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 180px;
    margin: auto;
    background-color: rgba(2, 55, 84, 0.8);
    border-radius: 24px;
}

.highestStats {
    display: block;
}
.highestStats-hidden {
    display: none;
}

.labels {
    margin-top:10px;
}

.data-type {
   padding-top: 10px;
}

.data-type-title {
    font-weight: bold;
}

.info {
    display: block;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 20px;
    right: 0;
}

.info-hide {
    display: none;
}
